
<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter Subject">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->



    <ng-container matColumnDef="SubjectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>SubjectName</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.SubjectName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Coefficient">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Coefficient</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.coefficient}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="IdTeacher">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IdTeacher</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.IdTeacher.name}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="registrations">
      <mat-header-cell *matHeaderCellDef mat-sort-header>registrations</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <a href="dashboard/{{row._id}}">  {{row.Registrations}} </a> -->
          <ul>
           <!-- <a *ngFor="let a of row.Registrations" href="/listusers#" (click)="startEditRegistration(row._id, a)">  {{a}} </a>-->

          </ul>


      </mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.SubjectName, row.coefficient, row.IdTeacher._id)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.SubjectName, row.coefficient, row.IdTeacher._id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
