<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="SubjectID">
    <mat-header-cell *matHeaderCellDef> SubjectID </mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.SubjectID.SubjectName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="TeacherID">
    <mat-header-cell *matHeaderCellDef> TeacherID </mat-header-cell>
    <mat-cell *matCellDef="let element">  {{element.SubjectID.TeacherID.name}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
